nav {
  display: flex;
  justify-content: space-between;
  background-color: #ff6600;
  align-items: center;
  padding: 1rem;
  
  border-radius: 3px 3px 0 0;
  
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.nav-link {
  font-size: 0.85rem;
  text-decoration: none;
  color: black
  margin: 0 5px;
}

.nav-link:hover {
  text-decoration: underline;
}

#nav-all {
  font-size: 1rem;
  font-weight: bolder;
}
