/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 2em;
  color: green;
}

.story-user {
  display: block;
  color: gold;
}

.not-favorited{
  color: rgb(198, 198, 198);
  width: 22px;
  height: 20px;
  overflow: hidden;
  border: none;
  background-color: #f6f6ef;;
 
  
}

.favorited{
  width: 22px;
  height: 20px;
  overflow: hidden;
  border: none;
 background-color: #f6f6ef;;
}

.fav-stories{
  color: red;
  /* display: none; */
}