/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  position: relative;
  z-index: 10; /* Higher z-index to ensure it stays above stories */
  padding-left: 20px;
   
}


